body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --bg-light: white;
  --bg-dark: black;

  --bg-hover: rgb(38, 38, 38);

  --inverted-dark-color: white;
  --inverted-light-color: black;
}

.app {
  height: 100vh;
}

.app.light {
  background-color: var(--bg-light);
  color: var(--inverted-light-color);
}

.app.dark {
  background-color: var(--bg-dark);
  color: var(--inverted-dark-color);
}
